<form method="post">
    <input type="hidden" value="{{ invoice.id }}" name="id">
    <input type="text" value="{{ invoice.article_id }}" name="article_id">
    <input type="text" value="{{ invoice.purchase_id }}" name="purchase_id">
    <input type="text" value="{{ invoice.quantity }}" name="quantity">
    <input type="text" value="{{ invoice.total }}" name="total">
    <input type="submit" value="Valider">
</form>
