{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/edit.css">{% endblock %}

{% block content %}

<div class="container">
    <div class="col-md-12">
        <div class="card m-auto ">
            <div class="card-body ">
                <a href="/invoice/index" class="pull-right exit"><i class="fas fa-times-circle"></i></a><br>
                <p class="card-text">#{{invoice.id}}</p> 
                <p class="card-title text-center comment-show">Article : {{ invoice.article_name}}</p> 
                <p class="card-title text-center comment-show">Quantité : {{ invoice.quantity}}</p> 
                <p class="card-title text-center comment-show">Total : {{ invoice.total}} €</p> 
            </div>
            <div class="card-footer text-center">
                <a href="/invoice/edit/{{ invoice.id }}" class="btn btn-sm btn-warning my-2"><i class="fas fa-edit"></i></a>
                <a href="/invoice/delete/{{ invoice.id }}" class="btn btn-sm btn-danger my-2"><i class="fas fa-trash"></i></a> 
            </div>
        </div>    
    </div>
</div>
	
{% endblock %}
    
