{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/edit.css">{% endblock %}


{% block content %}

<div class="container container-show">
    <a href="/article/index" class="pull-right exit"><i class="fas fa-times-circle"></i></a><br>
	<div class="row">
		<div class="col-md-4 align-self-center">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{article.images[0].url}}" class="d-block w-100  " alt="picture of {{ article.name }} color: {{article.color_name}} ">
                    </div>
                    {% for i in 1..article.images|length-1 %}
                    <div class="carousel-item">
                        <img src="{{article.images[i].url}}" class="d-block w-100 " alt="picture of {{ article.name }} color: {{article.color_name}} ">
                    </div>
                    {% endfor %}                    
                </div>
            </div>            
		</div>
		    <div class="col-md-4">
                    <h3>{{article.brand_name }}</h3>
                    <h3 class="card-title color-subtitle">{{ article.name }}-{{article.color_name}}</h3>
                    <p class="card-text"><span class="bolder price-size">{{article.price}} € </span></p> 
                    <button data-toggle="collapse" class="btn btn-info bg-blue" data-target="#demo">Détails:</button>
                    <div id="demo" class="collapse">
                        {{article.description}}
                    </div>
                    <div class="promo-rachat">
                        <p>
                            Ou à partir de<span class="bolder"> {{article.price * 0.7 }} € </span> avec la reprise d'un appareil
                        </p>
                    </div>
		    </div>
		<div class="col-md-4">
            <div class="container-stock">
                <p class="stock"><i class="fas fa-exclamation exclam"></i> {{article.quantity}} produits en stock</p>
            </div>
            <div class="container-pub">
                <p class="text-pub"><i class="fas fa-check-circle"></i>  Garantie : 12 mois</p>
                <p class="text-pub"><i class="fas fa-check-circle"></i>  30 jours pour tester</p>
                <p class="text-pub"><i class="fas fa-check-circle"></i>  Service client hyper réactif</p>
            </div>
            
              </div>
        </div>
        <div class=" text-center">
            <a href="/article/edit/{{ article.id }}" class="btn btn-sm btn-warning my-2 "><i class="fas fa-edit"></i></a>
            <a href="/article/delete/{{ article.id }}" class="btn btn-sm btn-danger my-2"><i class="fas fa-trash"></i></a>
        </div>
    </div>   
</div>

{% endblock %}

