<form method="post">
    <input type="hidden" value="{{ item.id }}" name="id">
    <input type="text" value="{{ user.firstname }}" name="firstname">
    <input type="text" value="{{ user.lastname }}" name="lastname">
    <input type="text" value="{{ user.email }}" name="email">
    <input type="text" value="{{ user.password }}" name="password">
    <input type="text" value="{{ user.address }}" name="address">
    <input type="number" value="{{ user.role_id }}" name="role_id">
    <input type="submit" value="Valider">
</form>
